		/*////////////////////////  MENU    ///////////////////////////////  */
.navbar-brand{
	font-size: 2em;
}
#navbarTogglerDemo03{
	font-size: 1.1em;
	background-color: #f8f8f8;
}
.nav-link{
	margin-left: 25px;
	border-bottom: 2px solid #f8f8f8;
}
.nav-link:hover{
	border-bottom: 2px solid #386473;
}
nav{
	height: 100px;
}
.titreMenu{
	font-size: 0.7em;
}
#menuPrincipal{
	width: 100%;
}

		/*////////////////////////  TITRES    ///////////////////////////////  */
h1{
	padding-top: 50px;
	padding-bottom: 50px;
	color: #386473;
	text-align: center;
	font-weight: bold;
}
em{
	color: black;
	font-weight: bold;
}
h2{
	text-align: center;
	color: #386473;
	background-color: #f8f8f8;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	font-weight: bold;
	padding-top: 40px;
	padding-bottom: 40px;
}
h3{
	color: black;
	font-weight: bold;
}
h4{
	color: #386473;
	font-weight: bold;
}

		/*////////////////////////   PAGE ACCUEIL    ///////////////////////////////  */
#image-principale{
	width: 100%;
	height: auto;
}
button{
	background-color: #386473;
	padding: 8px 10px 10px 10px;
	border-radius: 4px;
	border: 3px solid #386473;
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 0.8em;
}
.boutonAccueil{
	text-align: center;
}
button a,button a:hover {
	color: white;
}
#container-1 p{
	color: white;
	text-align: center;
	font-size: 1.2em;
	padding-bottom: 30px;
}	
#container-1{
	height: 300px;
}
#container-3{
	background-color: #f8f8f8;
}
		/*////////////////////////  PAGE INSCRIPTION   ///////////////////////////////  */

#inscription, #connexion, #publier{
	color: white;
	background-color: #386473;
	padding: 8px 10px 10px 10px;
	border-radius: 4px;
	border: 3px solid #386473;
	font-weight: bold;
	font-size: 0.8em;
}
#inscription:hover{
	text-decoration: underline;
}
#connexion:hover{
	text-decoration: underline;
}
.formulaire{
	text-align: center;
}
.email{
	margin-right: -12px;
}
.mdp{
	margin-left: -47px;
}
.mdp2{
	margin-right: 168px;
}

		/*////////////////////////  PAGE CHAPITRES   ///////////////////////////////  */

#container-chapitres{
	background-color: #f8f8f8;
	margin: 10px;
}

		/*////////////////////////  PAGE RENSEIGNEMENTS   ///////////////////////////////  */
#contact{
	text-align: center;
}
.contact1{
	font-weight: bold;
	text-decoration: underline;
}
.contact2{
	font-style: italic;:;
}

		/*////////////////////////  PAGE COMMENTAIRE   ///////////////////////////////  */
textarea{
	width: 100%;
}
#buttonCommentaire{
	position: relative;
	top: 5px;
	left: 10px;
}
.phraseRetourChapitre{
	text-align: center;
}
.ajoutCommentaire{
	border: 1px solid grey;
	border-radius: 5px;
	margin-bottom: 10px;
}
#laisserCommentaire{
	text-align: center;
	color: red;
}

		/*////////////////////////  PAGE CONNEXION    ///////////////////////////////  */

#mdpConnexion{
	margin-right: 42px;
}

		/*////////////////////////  FOOTER    ///////////////////////////////  */
#pied_de_page{
	color: black; 
	text-align: center;
	margin-top: 20px;
}
footer{
	background-color: #f8f8f8;
	padding-top: 20px;
	padding-bottom: 20px;
	border: 1px solid black;
}
		/*////////////////////////  AJOUT CHAPITRE    ///////////////////////////////  */
#ajoutChapitre{
	width: 60%;
}
#myTextarea{
	height: 200px;
}
.chapitreSubmit{
	margin-top: 5px;
}
		/*////////////////////////  GESTION ADMINISTRATEUR    ///////////////////////////////  */
.gestionArticle{
	margin-top: 30px; 
	text-align: center;
}
#bouttonArticle{
	margin-top: 20px;
}

		/*////////////////////////  RESPONSIVE    ///////////////////////////////  */
@media  screen and (min-width: 731px) and (max-width: 1200px){
	.navbar-brand{
	font-size: 2.3em;
	}
	.titreMenu{
		font-size: 0.5em;
	}
	.nav-link{
		margin-left: 9px;
		padding-top: 3px;
		padding-bottom: 3px;
	}
}

@media  screen and (min-width: 401px) and (max-width: 730px){
	.nav-link{
		margin-left: 9px;
		padding-top: 3px;
		padding-bottom: 3px;
	}
	label{
		display: none;
	}
	.email{
		margin-top: 5px;
		margin-right: 0px;
	}
	.mdp{
		margin-top: 5px;
		margin-left: 0px;
	}
	.mdp2{
		margin-top: 5px;
		margin-right: 0px;
	}
	#mdpConnexion{
		margin-top: 5px;
		margin-left: 42px;
	}
	.titrechapitre{
		margin-bottom: 5px;
	}
	#ajoutChapitre{
		width: 100%;
	}
	#pied_de_page{
		margin-top: 30px;
	}
}

@media screen and (max-width: 400px){
	label{
		display: none;
	}
	.email{
		margin-top: 5px;
		margin-right: 0px;
	}
	.mdp{
		margin-top: 5px;
		margin-left: 0px;
	}
	.mdp2{
		margin-top: 5px;
		margin-right: 0px;
	}
	#mdpConnexion{
		margin-top: 5px;
		margin-left: 42px;
	}
	.nav-link{
		font-size: 0.8em;
		margin-left: 9px;
		padding-top: 3px;
		padding-bottom: 3px;
	}
	h1{
		font-size: 1.5em;
	}
	h2{
		font-size: 1.2em;
	}
	.titreMenu{
		position: relative;
		margin-right: 20px;
		font-size: 0.6em;
	}
	#pied_de_page{
		margin-top: 30px;
	}
	button{
		font-size: 0.5em;
	}
	#ajoutChapitre{
		width: 100%;
	}
}